version: '3.8'

networks:
  application:
    driver: bridge

services:
  postgres:
    container_name: keycloak_postgres
    image: postgres:${POSTGRES_VERSION:-latest}
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
      - ./postgres_init/init.sh:/docker-entrypoint-initdb.d/init-db.sh # used only to test connections and scripts
    environment:
      - "POSTGRES_USER=postgres"
      - "POSTGRES_PASSWORD=postgres"
      - "KEYCLOAK_DB=keycloak"
      - "KEYCLOAK_DB_USER=keycloak"
      - "KEYCLOAK_DB_PASSWORD=keycloak"
      - "KEYCLOAK_DB_SCHEMA=keycloak"
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD", "pg_isready", "-d", "postgres", "-U", "postgres" ]
      timeout: 5s
      interval: 10s
      retries: 10
    restart: "no"
    networks:
      - ${GLOBAL_NETWORK:-postgres}
    deploy:
      resources:
        limits:
          cpus: '0.2'
          memory: 256M

  keycloak-authorization-server:
    container_name: keycloak-server
    image: quay.io/keycloak/keycloak:${KEYCLOAK_VERSION:-latest}
    entrypoint: ["/opt/keycloak/bin/kc.sh", "start-dev"]
    ports:
      - "9091:8080"
    environment:
      - "KEYCLOAK_ADMIN=admin"
      - "KEYCLOAK_ADMIN_PASSWORD=admin"
      - "KC_LOG_LEVEL=INFO"
      - "KC_DB=postgres" # database type
      - "KC_DB_USERNAME=keycloak"
      - "KC_DB_PASSWORD=keycloak"
      - "KC_DB_SCHEMA=public" # only public schema works?
      - "KC_DB_URL_DATABASE=keycloak" # database to use
      - "KC_DB_URL_HOST=postgres" # postgres service defined above
    depends_on:
      - postgres
    networks:
      - ${GLOBAL_NETWORK:-postgres}

volumes:
  postgres_data:
    driver: local
